#inblock{
    display: inline-block;
}

#maindiv{
    margin:45px;
    margin-bottom: 75px;
    margin-left:100px;
}
.lib:hover{
    border-bottom: 2px solid #2CE080;
    display: inline-block;
    height: 100%;

}

.root:hover{
    border-bottom: 2px solid #2CE080;
}